$formMarginTop: 40px;
$formWidth: 300px;

.sl-login {
  overflow: auto;

}

.sl-login-card {
  max-width: $formWidth;
  margin: $formMarginTop auto;
}

.sl-login-card .logo {
  width: 180px;
  height: auto;
  display: block;
  margin: auto;
}

.sl-login-card .mat-form-field {
  margin-top: 15px;
  width: 280px !important;
}

.sl-login-card .sl-remember-me {
  margin-top: 8px;
  margin-bottom: 8px;
}

.sl-login-card .sl-submit {
  text-align: center;
  width: 100%;
  margin-top: 16px !important;
}

.sl-login-card .indicator {
  cursor: pointer;
}

.sl-login-card mat-card-actions {
  text-align: center;
}

.sl-vspace {
  width: 100%;
  height: 5px;
}
