<div class="sl-login">
  <mat-card [@debounce]="errorMessage" class="sl-login-card mat-elevation-z6">
    <mat-card-header>
      <img class="logo" src="assets/img/sl-logo.png" alt="logo">
    </mat-card-header>
    <mat-card-content>
      <mat-card *ngIf="errorMessage" class="sl-error-message">
        <mat-card-content>
          {{errorMessage | translate}}
        </mat-card-content>
      </mat-card>
      <form novalidate #form="ngForm" (ngSubmit)="submit(form.valid)">
        <mat-form-field>
          <mat-placeholder>
            <mat-icon>account_circle</mat-icon>
            {{'USERNAME' |translate}}
          </mat-placeholder>

          <input [autofocus]="true" matInput [required]="true"
                 [(ngModel)]="user.username" #username="ngModel" type="username" name="username">
          <mat-error *ngIf="username.hasError('required')">
            <strong>{{'REQUIRED'|translate}}</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-placeholder>
            <mat-icon>lock</mat-icon>
            {{'PASSWORD' | translate}}
          </mat-placeholder>
          <input matInput
                 autocomplete=""
                 [required]="true" [(ngModel)]="user.password" #password="ngModel"
                 [type]="showPassword?'text':'password'"
                 name="password"
                 minlength="6">
          <mat-icon class="indicator" [color]="showPassword?'accent':'auto'"
                    matSuffix (click)="showPassword = !showPassword">
            {{showPassword ? 'visibility' : 'visibility_off'}}
          </mat-icon>
          <mat-error *ngIf="password.hasError('required')">
            <strong>{{'REQUIRED'|translate}}</strong>
          </mat-error>
          <mat-error *ngIf="password.hasError('minlength')">
            <strong>{{'AT_LEAST'|translate:{number:6} }}</strong>
          </mat-error>
        </mat-form-field>

        <div class="sl-remember-me">
          <mat-checkbox>{{'REMEMBER_ME' | translate}}</mat-checkbox>
        </div>
        <div class="sl-submit">
          <button mat-raised-button type="submit" color="primary">
            {{'SIGN_IN' | translate}}
          </button>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button color="primary" routerLink="/register">{{'DO_NOT_HAVE_ACCOUNT'| translate}}</a>
      <div class="sl-vspace"></div>
      <a mat-button color="primary" routerLink="/passwordRecovery">{{'FORGOT_PASSWORD' | translate}}</a>
      <div class="sl-vspace"></div>
      <a mat-button routerLink="/index">
        <mat-icon>arrow_back</mat-icon>
        {{'BACK_TO_INDEX' | translate}}</a>
    </mat-card-actions>
  </mat-card>
</div>
