.sl-home .sl-banner{
    width: 100%;
}


.sl-home .sl-publication-pool{
    margin: 10px 48px;
}

.sl-home .preview-tools{
    position: relative;
    width: 100%;
    text-align: right;
}

.sl-home .preview-tools mat-divider{
    display: inline-block;
    height: 24px;
    vertical-align:middle;
}

.sl-home .filter-tools{
   margin: 10px auto;
   width: 90%; 
   overflow: hidden;
   text-align: center;
   mat-form-field{
       margin: 5px 10px;
       width: 30%;
       min-width: 140px;
   }
   button{
       display: block;
       margin: auto;
   }
}

.sl-home .add-button {
  width: 80%;
  margin: 40px auto;
  position: relative;
  mat-divider {
    position: absolute;
    top: 50% !important;
    width: 100%;
  }
  a {
    display: block;
    margin: 10px auto;
  }
}


.sl-home .publication-space{
    min-height: 300px;
}

mat-tab-group{
    width: 80%;
    margin: auto;
}

.mat-tab-labels{
    justify-content: center !important;
}

.sl-home app-publication{
    margin-right: 0!important;
}