<div class="sl-home">

    <img class="sl-banner" src="../assets/img/banner.png" alt="banner">
    <div class="sl-publication-pool">
        <div class="add-button">
            <mat-divider></mat-divider>
            <a routerLink="./publicationForm/0" mat-fab color="primary" matTooltip="{{'ADD'|translate}}">
                <mat-icon>add</mat-icon>
            </a>
        </div>
        <div class="preview-tools">
            <button mat-icon-button (click)="toggleFilter()">
                <mat-icon>filter_list</mat-icon>
            </button>
            <mat-divider vertical="true"></mat-divider>
            <button mat-icon-button (click)="zoomIn()">
                <mat-icon>zoom_in</mat-icon>
            </button>
            <button mat-icon-button (click)="zommOut()">
                <mat-icon>zoom_out</mat-icon>
            </button>
            <mat-divider vertical="true"></mat-divider>
            <button mat-icon-button [color]="compact ? 'accent' : ''" (click)="toggleCompcat()">
                <mat-icon>view_compact</mat-icon>
            </button>
        </div>
        <form #form="ngForm" novalidate class="filter-tools">
            <div [@slide]="openFilter">
                <mat-form-field>
                    <mat-placeholder>
                        {{'SEARCH' |translate}}
                    </mat-placeholder>
                    <input type="text" matInput [(ngModel)]="filter.filter" name="filter">
                </mat-form-field>
                <mat-form-field>
                    <mat-placeholder>
                        {{'CATEGORY' |translate}}
                    </mat-placeholder>
                    <mat-select [(ngModel)]="filter.category" type="number" name="category">
                        <mat-option *ngFor="let cat of categories" [value]="cat.id">{{cat.title | translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-placeholder>{{'AFTER_DATE' | translate}}</mat-placeholder>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="filter.date" name="date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                    <mat-placeholder>
                        <mat-icon>timer</mat-icon>
                        {{'YEAR' |translate}}
                    </mat-placeholder>
                    <mat-select [(ngModel)]="filter.year" type="number" name="year">
                        <mat-option [value]="1">{{'FIRST_YEAR' | translate}}</mat-option>
                        <mat-option [value]="1">{{'SECOND_YEAR' | translate}}</mat-option>
                        <mat-option [value]="3">{{'Third_YEAR' | translate}}</mat-option>
                        <mat-option [value]="4">{{'MASTER' | translate:{num:1} }}</mat-option>
                        <mat-option [value]="5">{{'MASTER' | translate:{num:2} }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-placeholder>
                        {{'SPECIALTY' |translate}}
                    </mat-placeholder>
                    <mat-select [disabled]="!filter.year" [(ngModel)]="filter.specialty" type="number" name="specialty">
                        <mat-option *ngFor="let sp of getSpeByYear(filter.year)" [value]="sp.id">{{sp.abb}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-placeholder>
                        {{'MODULE' |translate}}
                    </mat-placeholder>
                    <mat-select [disabled]="!filter.specialty" [(ngModel)]="filter.module" type="number" name="module">
                        <mat-option *ngFor="let md of getModuleBySpeAndYear(filter.specialty,filter.year)" [value]="md.id">{{md.abb}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-raised-button type="reset" color="warn">
                    {{'CLEAR' | translate}}</button>
            </div>
        </form>
        <mat-divider></mat-divider>
        <mat-tab-group (selectedTabChange)="tabChanged($event)">
            <mat-tab label="{{ 'TRENDING' | translate}}">
                <div class="publication-space">
                    <div fxLayout="row wrap" fxLayoutAlign="center start" fxLayoutGap="20px">
                        <app-publication *ngFor="let pub of publications" [compcat]="compact" [fxFlex.xs]="(publicationSize*90)+'%'" [fxFlex.sm]="(publicationSize*80)+'%'"
                            [fxFlex.md]="(publicationSize*60)+'%'" [fxFlex]="(publicationSize*52)+'%'" [currentUser]="currentUser"
                            [publication]="pub" [categories]="categories" [specialties]="specialties" [modules]="modules"></app-publication>
                    </div>
                </div>
                <mat-paginator [pageIndex]="filter.page" [pageSize]="10" (page)="pageChanged($event,0)" [length]="total">
                </mat-paginator>
            </mat-tab>
            <mat-tab [disabled]="!currentUser" label="{{'FRIENDS'|translate}}" fxlayout="column">
                <div class="publication-space">
                    <div fxLayout="row wrap" fxLayoutAlign="center start" fxLayoutGap="20px">
                        <app-publication *ngFor="let pub of publications" [compcat]="compact" [fxFlex.xs]="(publicationSize*90)+'%'" [fxFlex.sm]="(publicationSize*80)+'%'"
                            [fxFlex.md]="(publicationSize*48)+'%'" [fxFlex]="(publicationSize*40)+'%'" [currentUser]="currentUser"
                            [publication]="pub" [categories]="categories" [specialties]="specialties" [modules]="modules"></app-publication>
                    </div>
                </div>
                <mat-paginator [pageIndex]="filter.fpage" [pageSize]="10" (page)="pageChanged($event,1)" [length]="total">
                </mat-paginator>
            </mat-tab>
        </mat-tab-group>

    </div>
</div>