.top-section {
  display: flex;
  margin: 80px auto 20px auto !important;
  width: 90%;
}

.space {
  flex: 1 1 auto;
}

.bottom {
  bottom: 0;
  height: 36px;
  button {
    margin: auto;
  }
  text-align: center;
}

app-publication {
  margin: 20px auto;
  display: block;
  width: 400px;
}

.pub-container {
  margin: 0  36px 36px 36px;
}

.add-button {
  width: 80%;
  margin: auto;
  position: relative;
  mat-divider {
    position: absolute;
    top: 50% !important;
    width: 100%;
  }
  a {
    display: block;
    margin: 10px auto;
  }
}

.filter{
  width: 90%;
  margin:10px auto;
  text-align: center;
  .mat-form-field{
    margin: auto 20px;
  }
}

mat-panel-title{
  mat-icon{
    font-size: 120%;
    margin:auto 10px !important;
  }
}