html,body {
  margin: 0!important;
  padding: 0!important;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  ms-overflow-x: hidden;
  font-family: "Roboto", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1, h2 {
  font-weight: 100 !important;
  margin: auto !important;
}

.mat-form-field-prefix{
  margin: auto 8px !important;
}
