html, body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  overflow-x: hidden;
  ms-overflow-x: hidden;
  font-family: "Roboto", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1, h2 {
  font-weight: 300 !important;
  margin: auto !important;
}


.sl-message {
  width: 300px;
  margin: 100px auto;
}

.sl-message mat-card-content {
  padding-top: 20px !important;
}

.sl-message mat-card-actions {
  text-align: center;
}

.sl-message .mat-form-field {
  width: 90% !important;
}

.notificationMenu {
  width: 320px;
  max-width: 500px !important;
  .header{
    padding:5px 20px;
    text-align: right;
  }
  .mat-menu-item{
    display: flex;
    padding: 5px 20px;
    h5{
      white-space: normal;
      line-height: 25px !important;
      margin: 0!important;
    }
    .space{
      min-width: 10px;
      flex: 1 1 auto;
    }
  }
}
