html,body {
  margin: 0!important;
  padding: 0!important;
  overflow: hidden;
  height: 100%;
  width: 100%;
  font-family: "Roboto", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1, h2 {
  font-weight: 100 !important;
  margin: auto !important;
}

