<mat-card class="sl-message">
  <mat-card-header>
    <h1>{{'EMAIL_VALIDATION' | translate}}</h1>
  </mat-card-header>
  <mat-card-content>
    <div [ngSwitch]="valid">
      <p *ngSwitchCase="true">{{ 'CONGRATULATION' | translate}}</p>
      <p *ngSwitchCase="false">{{ 'FAILED' | translate}}</p>

    </div>

  </mat-card-content>
  <mat-card-actions>
    <div class="center">
      <a mat-button routerLink="/index">
        <mat-icon>arrow_back</mat-icon>
        {{'BACK_TO_INDEX' | translate}}</a>
    </div>
  </mat-card-actions>
</mat-card>