$formMarginTop: 40px;

.sl-register {
  overflow: auto;

}

.sl-register-card {
  margin: $formMarginTop auto;
}

.sl-register-card .logo {
  height: 200px;
  width: auto;
  display: block;
  margin: 10px auto;
}

.sl-register-card .mat-form-field {
  margin: 15px auto;
  width: 90% !important;
}


.sl-register-card .sl-submit {
  div{
    width: 348px;
    margin: 10px auto;
  }
  text-align: center;
  width: 100%;
  margin-top: 16px !important;
}

.sl-register-card .indicator {
  cursor: pointer;
}

.sl-register-card mat-card-actions {
  text-align: center;
}

.sl-vspace {
  width: 100%;
  height: 5px;
}

.sl-form-section-header {
  h4 {
    font-weight: bolder;
    margin: 0 !important;
  }
  mat-divider {
    position: relative;
    width: 90%;
  }
}

.sl-error-message {
  margin-bottom: 30px !important;
}
