h1 {
  font-weight: bolder !important;
}

h3 {
  font-weight: bold !important;
}

p {
  white-space: normal !important;
}

.center {
  display: block;
  margin: auto;
}

mat-list-item {
  height: auto !important;
}
