@import '../../app-theme';


// Define the dark theme.
$primary: mat-palette($mat-green,600);
$accent:  mat-palette($mat-blue-grey);

$theme: mat-dark-theme($primary, $accent);
@include angular-material-theme($theme);
@include social-learning-app-theme($theme);
