@import '../../app-theme';

// Define the light theme.
$primary: mat-palette($mat-orange,900);
$accent:  mat-palette($mat-brown,700);


$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);
@include social-learning-app-theme($theme);
