@import '../../app-theme';
@import '../../highlightjs/material-dark';

// Define the dark theme.
$primary: mat-palette($mat-red);
$accent: mat-palette($mat-purple);

$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);
@include social-learning-app-theme($theme);
