<form novalidate #form="ngForm" (ngSubmit)="submit(form.valid)">
  <mat-card class="sl-message" [@debounce]="error">
    <mat-card-header>
      <h1>{{'PASSWORD_RECOVERY' | translate}}</h1>


    </mat-card-header>
    <mat-card-content>
      <p>{{'PLEASE_PROVIDE_EMAIL' | translate}}</p>
      <p *ngIf="error" [style.paddingLeft]="'10px'" class="sl-error-message">
        {{'USER_NOT_FOUND' | translate}}
      </p>

      <mat-form-field>
        <mat-placeholder>
          <mat-icon>email</mat-icon>
          {{'EMAIL' |translate}}
        </mat-placeholder>
        <input matInput [required]="true"
               autocomplete="email"
               pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$"
               [(ngModel)]="user.email" #email="ngModel"
               type="email" name="email">
        <mat-error *ngIf="email.hasError('required')">
          <strong>{{'REQUIRED'|translate}}</strong>
        </mat-error>
        <mat-error *ngIf="email.hasError('pattern')">
          <strong>{{'INVALID_EMAIL'|translate}}</strong>
        </mat-error>
      </mat-form-field>

    </mat-card-content>
    <mat-card-actions>
      <div class="center">
        <button mat-raised-button color="primary">{{'SEND_EMAIL'|translate}}</button>
        <div class="sl-vspace">
          <a [style.marginTop]="'10px'" mat-button routerLink="/login">
            <mat-icon>arrow_back</mat-icon>
            {{'BACK_TO_LOGIN' | translate}}</a>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
</form>
