<div [dir]="dir" class="mat-typography">
  <div class="index-container">
    <mat-toolbar color="primary" class="sl-toolbar mat-elevation-z6">
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="spacer"></span>
      <app-theme-picker></app-theme-picker>
      <app-language-selector></app-language-selector>
    </mat-toolbar>

    <mat-sidenav-container>
      <mat-sidenav
        class="sideNav mat-elevation-z6"
        #snav
        [position]="'start'"
        [mode]="mobileQuery.matches ? 'over' : 'side'"
        [opened]="!mobileQuery.matches"
        [fixedInViewport]="true" [fixedTopGap]="mobileQuery.matches?56:64">
        <mat-nav-list>
          <h3 mat-subheader class="sl-primary-background">Folders</h3>
          <mat-list-item *ngFor="let item of menuItems">
            <mat-icon mat-list-icon>{{item.icon}}</mat-icon>
            <h4 mat-line>{{item.title | translate}}</h4>
            <p mat-line> {{item.description | translate}} </p>
          </mat-list-item>
        </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content [style.marginTop.px]="mobileQuery.matches ? 56 : 64">
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>

</div>

