<div class="container" fxLayout="column">
    <mat-card>
        <mat-card-header>
            <form #addForm="ngForm" (ngSubmit)="submitAddFrom(addForm.valid)">
                <mat-form-field class="add-user-input">
                    <mat-placeholder>{{'ADD_USER'| translate }}</mat-placeholder>
                    <input matInput required="true" [matAutocomplete]="auto" [formControl]="userCtrl" name="user">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                        <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
                            <img style="vertical-align:middle;border-radius: 50%;" aria-hidden [src]="user.profileImage || './assets/img/profile-default.png'"
                                height="25" />
                            <span>{{ user.lastName + ' ' + user.firstName }}</span>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <button mat-icon-button color="accent" matTooltip="{{'ADD' | translate}}">
                    <mat-icon>add</mat-icon>
                </button>
            </form>
        </mat-card-header>
        <mat-card-content>
            <a *ngFor="let member of roomUsers" [routerLink]="'/index/profilePreview/' + member.id">
                <img [src]="member.profileImage ? member.profileImage : './assets/img/profile-default.png'">
                <span fxHide fxShow.md="true" fxShow.lg="true" fxShow.xl="true">
                    {{member.lastName + ' ' + member.firstName | uppercase}}
                </span>
            </a>
        </mat-card-content>
    </mat-card>
    <div class="messagePool" fxFlex #scrollMe [scrollTop]="scrollMe.scrollHeight">
        <mat-chip-list [@fadeChat]="messages.length">
            <div *ngFor="let mess of messages" class="chat-buble" [class.right]="mess.sender==currentUser.id">
                <span *ngIf="getUser(mess.sender) && mess.sender!=currentUser.id" class="sender-display">
                    <img [src]="getUser(mess.sender).profileImage ? getUser(mess.sender).profileImage : './assets/img/profile-default.png'">
                </span>
                <mat-chip [color]="mess.sender==currentUser.id ? 'primary': 'accent'" selected="true" [innerHtml]="mess.message"></mat-chip>
                <span>
                    {{ mess.messageDate| timeAgo}}
                </span>
            </div>
        </mat-chip-list>
    </div>
    <mat-divider></mat-divider>
    <mat-card class="send-card">
        <form fxLayout="row" #chatForm="ngForm" (ngSubmit)="submit(chatForm)">
            <mat-form-field fxFlex>
                <textarea maxRows="3" minRows='3' matInput #mess="ngModel" required name="message" [(ngModel)]="message.message"></textarea>
                <mat-error *ngIf="mess.hasError('required')">
                    <strong>{{'REQUIRED'|translate}}</strong>
                </mat-error>
            </mat-form-field>
            &nbsp;&nbsp;
            <div>
                <button mat-button color="primary" class="submit">
                    <mat-icon>send</mat-icon> &nbsp;&nbsp; {{'SEND' | translate}}</button>
            </div>
        </form>
    </mat-card>

</div>