.sl-container {
  width: 100%;
  display: block;
  height: calc(100vh - 64px);
}

.sl-chat .space {
  flex: 1 0 auto;
}


.drawer {
  width: 320px !important;
}

.drawer-content{
  height: 100%;
  .sl-chat-space{
    height: 100%;
    box-sizing: border-box;
    mat-card-header {
      span{
        display: inline-block;
        vertical-align: top;
      }
      img{
        height: 60px;
        width: auto;
        border-radius: 50%;
      }
      h3{
        margin: 0 !important;
      }
    }
    .chat-message{
      display: block;
      width: 100%;
      margin: 10px;
    }
    .right{
      text-align: right;
    }
    mat-card-content{
      height: auto;
    }
  }
}
