mat-card{
   width: 100%;
    max-width: 900px;
    padding: 64px;
    display: block;
    margin: auto;
    box-sizing: border-box;
    height: 100%;
}

mat-toolbar{
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
        mat-form-field{
        font-size: 16px;
    }

}
button{
    margin: auto 5px;
}
.mat-column-select {
  overflow: visible;
}

.mat-column-select{
  flex: 0 0 80px;
}

.form{
    text-align: center;
    min-height: 60px;
}