<button mat-icon-button [matMenuTriggerFor]="notificationMenu" matTooltip="{{'READ_NOTIFICATIONS'| translate}}" tabindex="-1">
  <mat-icon>notifications</mat-icon>
  <div class="notification-count" *ngIf="unReadNotificationCount()!=0">{{unReadNotificationCount()}}</div>
</button>



<mat-menu class="notificationMenu" #notificationMenu="matMenu" xPosition="before">
  <div class="header" (click)="$event.stopPropagation()">
    <mat-slide-toggle (change)="toggleAll($event)">
      {{'READ_ALL' | translate}}
    </mat-slide-toggle>
  </div>
  <mat-divider></mat-divider>

  <mat-nav-list dense>
    <mat-list-item *ngFor="let item of notifications" [routerLink]="'/index/publicationPreview/' + item.publicationId" (click)="$event.stopPropagation()">
      <img matListAvatar [src]="item.user.profileImage ? item.user.profileImage : './assets/img/profile-default.png'" />
      <h6 mat-line>
        <a [routerLink]="'/index/profilePreview/' + item.user.id">
          <b>{{ item.user.lastName + ' ' + item.user.firstName | uppercase}}</b>
        </a>
      </h6>
      <h5 mat-line>
        {{item.message}}
      </h5>
      <span class="space"></span>
      <mat-slide-toggle name="read" [(ngModel)]="item.isRead">
        {{'READ' | translate}}
      </mat-slide-toggle>
    </mat-list-item>
  </mat-nav-list>

</mat-menu>