<mat-card class="sl-faq-container">
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <h3 mat-line>
          <b>{{'WHO_ARE_WE' | translate}}</b>
        </h3>
        <p mat-line> {{ 'WE_ARE' | translate}} </p>
        <mat-divider></mat-divider>
      </mat-list-item>
      <mat-list-item>
        <h3 mat-line>
          <b>{{'HOW_TO_PUBLISH' | translate}}</b>
        </h3>
        <p mat-line> {{ 'TO_PUBLISH' | translate}} </p>
        <mat-divider></mat-divider>
      </mat-list-item>
      <mat-list-item>
        <h3 mat-line>
          <b>{{'HOW_TO_DONWLAOD' | translate}}</b>
        </h3>
        <p mat-line> {{ 'TO_DOWNLOAD' | translate}} </p>
        <mat-divider></mat-divider>
      </mat-list-item>
      <mat-list-item>
        <h3 mat-line>
          <b>{{'HOW_TO_ADD_FRIEND' | translate}}</b>
        </h3>
        <p mat-line> {{ 'TO_ADD_FRIEND' | translate}} </p>
        <mat-divider></mat-divider>
      </mat-list-item>
      <mat-list-item>
        <h3 mat-line>
          <b>{{'HOW_TO_CHAT' | translate}}</b>
        </h3>
        <p mat-line> {{ 'TO_CHAT' | translate}} </p>
        <mat-divider></mat-divider>
      </mat-list-item>
      <mat-list-item>
        <h3 mat-line>
          <b>{{'HOW_TO_REGISGTER' | translate}}</b>
        </h3>
        <p mat-line> {{ 'TO_REGISTER' | translate}} </p>
        <mat-divider></mat-divider>
      </mat-list-item>
      <mat-list-item>
        <h3 mat-line>
          <b>{{'WHO_TO_RECOVER_PASSWORD' | translate}}</b>
        </h3>
        <p mat-line> {{ 'TO_RECOVER_PASSWORD' | translate}} </p>
      </mat-list-item>
    </mat-list>
  </mat-card-content>

</mat-card>