<mat-card class="sl-publication mat-elevation-z6" [style.padding.px]="compcat?12:24">
  <mat-card-header *ngIf="!compcat">
    <div mat-card-avatar class="publish-avatar" [style.backgroundImage]="'url('+ publication.user.profileImage +')'"></div>
    <mat-card-title>
      <a [routerLink]="'/index/profilePreview/' + publication.user.id">
        <b>{{publication.user.lastName +' ' + publication.user.firstName | uppercase}}</b>
      </a>
    </mat-card-title>

    <div class="space">
    </div>
    {{publication.date | timeAgo}}
  </mat-card-header>
  <span *ngIf="compcat" class="compcat-title" fxlayout="row">
    <h3>
      <b>{{publication.title}}</b>
    </h3>
    <span fxFlex></span>
    <a mat-button color="accent" [routerLink]="'/index/publicationPreview/' + publication.id">
      {{'MORE' | translate}}
    </a>
  </span>
  <span *ngIf="!compcat">
    <mat-divider></mat-divider>
    <h3 class="pub-title">
      <b>{{publication.title}}</b>
    </h3>

    <mat-card-content>
      <p [innerHTML]="publication.description | safe: 'html'"></p>
    </mat-card-content>
    <mat-card-actions>
      <mat-accordion>
        <mat-expansion-panel class="mat-elevation-z0" (opened)="showReCap()">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{'ATTACHMENTS' | translate}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <re-captcha *ngIf="openAttachments && useRecaptch" (resolved)="attachmentOpened()"></re-captcha>
          <mat-nav-list>
            <mat-list-item *ngFor="let attach of publication.attachments">
              <mat-icon mat-list-icon>file_download</mat-icon>
              <a *ngIf="!currentUser" [routerLink]="'/login' ">{{attach.name | uppercase}}</a>
              <a *ngIf="currentUser" [href]="attach.link" target="_blank">{{attach.name | uppercase}}</a>
            </mat-list-item>
          </mat-nav-list>
        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="publication.categoryId==2 || !publication.commentable" (opened)="commentOpened()" class="mat-elevation-z0">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ (publication.categoryId == 2 ? 'RESPONSES' : 'COMMENTS') | translate}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="comment" *ngFor="let comment of publication.comments" fxlayout="row">
            <div fxFlex="20%">
              <button (click)="markAsBest(comment.id)" *ngIf="currentUser.id==publication.userId" mat-icon-button [color]="comment.bestAnswer? 'warn': ''"
                [matTooltip]="(comment.bestAnswer?  'UNMARK' : 'MARK_AS_BEST') | translate">
                <mat-icon>verified_user</mat-icon>
              </button>
              <button *ngIf="currentUser.id==comment.userId || currentUser.id==publication.userId" mat-icon-button color="warn" matTooltip="{{ 'DELETE'|translate}}"
                tabindex="-1" (click)="deleteComment(comment.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
            <div fxFlex="80%">
              <img class="comment-avatar" [src]="comment.user.profileImage?comment.user.profileImage:
            './assets/img/profile-default.png'">
              <b class="name">{{comment.user.lastName +' ' + comment.user.firstName | uppercase}}
                <mat-icon color="primary" *ngIf="comment.bestAnswer">verified_user</mat-icon>
              </b>
              <h5> {{comment.description}}</h5>
              <h6>{{comment.date | timeAgo}}</h6>
            </div>
          </div>
          <form *ngIf="currentUser" novalidate #commentform="ngForm" (ngSubmit)="commented(commentform.valid)">
            <mat-form-field>
              <mat-placeholder>
                {{ publication.categoryId == 2 ? 'RESPONSE' : 'COMMENT' | translate}}
              </mat-placeholder>
              <textarea matInput [(ngModel)]="newComment.description" autocomplete="description" matTextareaAutosize matAutosizeMinRows="1"
                matAutosizeMaxRows="5" #comment="ngModel" name="description"></textarea>
            </mat-form-field>
            <button mat-raised-button type="submit" color="primary">
              {{publication.categoryId == 2 ? 'RESPONSE' : 'COMMENT' | translate}}
            </button>
          </form>
        </mat-expansion-panel>
      </mat-accordion>
      <span *ngIf="currentUser">
        <span *ngIf="currentUser.id==publication.userId">
          <a [routerLink]=" '/index/publicationForm/' + publication.id" mat-icon-button color="accent" matTooltip="{{
            'EDIT'|translate}}" tabindex="-1">
            <mat-icon>edit</mat-icon>
          </a>
          <button mat-icon-button color="warn" matTooltip="{{ 'DELETE'|translate}}" tabindex="-1" (click)="deletePublication()">
            <mat-icon>delete</mat-icon>
          </button>
        </span>
        <span>
          <button *ngIf="currentUser.id!=publication.userId" mat-icon-button [color]="opinion && opinion.opinion==3 ?
            'primary' : ''" matTooltip="{{ 'REPORT_PUBLICATION' | translate}}" color="primary" (click)="reportPublication()">
            <mat-icon>report</mat-icon>
          </button>
          <button mat-icon-button [disabled]="currentUser.id==publication.userId" [color]="opinion && opinion.opinion==1
            ? 'accent' : ''" matTooltip="{{ 'LIKE' | translate}}" tabindex="-1" (click)="like()">
            <mat-icon>thumb_up</mat-icon> {{ publication.likes }}
          </button>
          <button [disabled]="currentUser.id==publication.userId" mat-icon-button [color]="opinion && opinion.opinion==2
            ? 'warn' : ''" matTooltip="{{ 'DISLIKE' | translate}}" tabindex="-1" (click)="disLike()">
            <mat-icon>thumb_down</mat-icon> {{ publication.dislikes }}
          </button>
        </span>
      </span>
    </mat-card-actions>
    <mat-divider></mat-divider>
    <mat-card-footer>
      <mat-chip-list>
        <mat-chip color="primary" selected="true">{{getCategoryById(publication.categoryId) | translate}}</mat-chip>
        <mat-chip *ngIf="publication.specialtyId" color="accent" selected="true">
          {{displaySpecialtyModule(publication.moduleId,publication.specialtyId)}}
        </mat-chip>
      </mat-chip-list>
    </mat-card-footer>
  </span>
</mat-card>