.sl-publication{
  margin: 10px;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
.sl-publication .publish-avatar {
  background-size: cover;
}

.sl-publication .space {
  flex: 1 0 auto;
}

.sl-publication h3 {
  &:first-letter {
    text-transform: uppercase;
  }
}

a{
  text-decoration: none;
}

.sl-publication mat-card-actions{
  text-align: end;
}

.sl-publication mat-card-content {
  max-height: 200px;
  overflow: auto;
}

.sl-publication .attachment-button {
  margin: 5px auto;
}
.sl-publication mat-card-footer{
  padding: 16px;
}
.sl-publication .attachment-button a {
  display: block;
  text-decoration: none;
  font-family: "Roboto", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
}
.comment{
  padding-top: 10px;
  overflow: hidden;
  text-align: start;
  .comment-avatar{
    height: 24px;
    width: 24px;
    border-radius: 50%;
  }
  mat-icon{
    vertical-align:top;
  }
  .name{
    font-size: 12px;
    vertical-align: top;
    display: inline-block;
  }
  h6,h5{
    margin: 0 !important;
  }
  h6{
    text-align: end;
  }
}
.comment mat-icon{
  font-size: 24px;
  font-weight: bolder;
}

form {
  text-align: center;
  .mat-form-field {
    width: 90%;
    margin: auto;
    display: block;
  }

}
.pub-title{
  margin-top:10px;
}

.compcat-title{
  white-space: nowrap;
  h3{
    margin: 0!important;
  }
}
