<div class="sl-publication-form">
  <h1 mat-card-title>{{ 'PUBLICATION' | translate}}</h1>
  <form novalidate #publicationform="ngForm" (ngSubmit)="submit(publicationform.valid)">
    <mat-card>
      <div class="sl-form-section-header">
        <h4>{{'PUBLICATION_BODY'| translate}}</h4>
        <mat-divider></mat-divider>
      </div>
      <div fxLayout="row wrap">
        <div fxFlex.xs="100%" fxFlex.sm="100%" fxFlex="100%">
          <mat-form-field>
            <mat-placeholder>
              {{'TITLE' |translate}}
            </mat-placeholder>
            <input [autofocus]="true" autocomplete="title" matInput [required]="true" [(ngModel)]="publication.title" #title="ngModel"
              type="text" name="title">
            <mat-error *ngIf="title.hasError('required')">
              <strong>{{'REQUIRED'|translate}}</strong>
            </mat-error>
          </mat-form-field>

          <app-ngx-editor [imageEndPoint]="imageEndPoint" placeholder="{{'CONTENT' | translate}}" minHeight="100px" name="description"
            [(ngModel)]="publication.description">
          </app-ngx-editor>

        </div>
        <div fxFlex.xs="100%" fxFlex.sm="70%" fxFlex="35%">
          <mat-form-field>
            <mat-placeholder>
              {{'CATEGORY' |translate}}
            </mat-placeholder>
            <mat-select [required]="true" [(ngModel)]="publication.categoryId" #category="ngModel" type="number" name="categoryId">
              <mat-option *ngFor="let cat of categories" [value]="cat.id">{{cat.title | translate}}</mat-option>
            </mat-select>
            <mat-error *ngIf="category.hasError('required')">
              <strong>{{'REQUIRED'|translate}}</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-placeholder>
              {{'SPECIALTY' |translate}}
            </mat-placeholder>
            <mat-select [(ngModel)]="publication.specialtyId" type="number" (ngModelChange)="loadModules(publication.specialtyId)" name="specialtyId">
              <mat-option *ngFor="let sp of specialties" [value]="sp.id">{{sp.abb}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="publication.categoryId != 2 && publication.categoryId != 4">
            <mat-placeholder>
              {{'MODULE' |translate}}
            </mat-placeholder>
            <mat-select [(ngModel)]="publication.moduleId" type="number" name="moduleId">
              <mat-option *ngFor="let md of modules" [value]="md.id">{{md.abb}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-checkbox [(ngModel)]="publication.commentable" name="commentable">
            {{'DISABLE_COMMENT' |translate}}
          </mat-checkbox>
        </div>
      </div>

      <div class="form-buttom" fxLayout="column" fxLayoutAlign=" center">
        <div *ngIf="this.useRecaptch" class="captcha">
          <re-captcha [(ngModel)]="publication.captcha" [class.ng-captcha-invalid]="publicationform.submitted && captcha.hasError('required')"
            #captcha="ngModel" name="captcha" required></re-captcha>
          <mat-error *ngIf="publicationform.submitted && captcha.hasError('required')">
            <strong>{{'REQUIRED'|translate}}</strong>
          </mat-error>
        </div>
        <div>

          <button mat-raised-button type="submit" color="primary">
            {{'SUBMIT' | translate}}
          </button>
        </div>
        <div>
          <a mat-button routerLink="/index">
            <mat-icon>arrow_back</mat-icon>
            {{'BACK_TO_INDEX' | translate}}</a>
        </div>
      </div>

    </mat-card>
    <mat-card class="attachments">
      <div class="sl-form-section-header">
        <h4>{{'ATTACHMENTS'| translate}}</h4>
        <mat-divider></mat-divider>
      </div>
      <app-attachment-form *ngFor="let item of attachments" [attachment]="item" (attachmentDelete)="deleteAttachment($event)"></app-attachment-form>
      <h5 *ngIf="publication.id===0">{{'SAVE_PUB_BEFORE_ATTACH' | translate}}</h5>

      <button [disabled]="!publication.id" (click)="addAttachment()" mat-mini-fab color="primary" matTooltip="{{'ADD'|translate}}">
        <mat-icon>add</mat-icon>
      </button>
    </mat-card>
  </form>
</div>