.sl-publication-form {
  display: block;
  padding: 30px !important;
  h1 {
    margin-bottom: 30px !important;
  }
}

.sl-publication-form mat-card {
  margin: 20px auto !important;
  height: 100%;
}

.sl-publication-form .mat-form-field {
  margin: 15px auto;
  width: 90% !important;
}

.sl-form-section-header {
  h4 {
    font-weight: bolder;
    margin: 0 !important;
  }
  mat-divider {
    position: relative;
    width: 90%;
  }
}

.sl-submit {
  text-align: center;
}

.attachments {
  app-attachment-form {
    margin: 10px !important;
    display: block;
  }
  button {
    display: block;
    margin: 20px auto;
  }
  h5 {
    margin: 20px auto;
  }
}

