.sl-publication{
  margin: 10px;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
.sl-publication .publish-avatar {
  background-size: cover;
}

.sl-publication .space {
  flex: 1 0 auto;
}

.sl-publication h3 {
  &:first-letter {
    text-transform: uppercase;
  }
}

a{
  text-decoration: none;
}

.sl-publication mat-card-actions{
  text-align: end;
}

.sl-publication mat-card-content {
  max-height: 200px;
  overflow: auto;
}

.sl-publication .attachment-button {
  margin: 5px auto;
}
.sl-publication mat-card-footer{
  padding: 16px;
}
.sl-publication .attachment-button a {
  display: block;
  text-decoration: none;
  font-family: "Roboto", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
}

.comment {
  padding-left: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  word-break: break-all;
  word-wrap: break-word;
}
.comment mat-icon{
  font-size: 48px;
  font-weight: bolder;
}
form {
  text-align: center;
  .mat-form-field {
    width: 90%;
    margin: auto;
    display: block;
  }

}
.pub-title{
  margin-top:10px;
}
.compcat-title{
  white-space: nowrap;
  text-align: center;
}
