.index-container .sl-toolbar {
  position: fixed;
  z-index: 5;
}

.index-container .sideNav {
  width: 320px;
}

.index-container .spacer {
  flex: 1 1 auto;
}

.index-container .profile-info {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 5px 0 5px;
  background: url("../../../assets/img/profile-bg.jpg") no-repeat center;
  background-size: auto 100%;
  font-weight: bold;
}

.index-container .profile-info h3 {
  margin: 0 !important;
}

.index-container .profile-info .profile-image {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  display: block;
  margin: 0 auto;
}
