<div class="sl-index-container" cdkScrollable>
  <mat-toolbar *ngIf="user && !user.verified && showConfirmBar" class="sl-toolbar verify-account mat-elevation-z8">
    <p>{{ 'PLEASE_CONFIRM_EMAIL' | translate}}</p>
    <span class="spacer"></span>
    <button mat-button color="primary" (click)="confirm()">{{ 'CONFIRM' | translate}}</button>
    <button mat-button (click)="showConfirmBar=false">{{'DISMISS' | translate}}</button>
  </mat-toolbar>
  <mat-toolbar color="primary" class="sl-toolbar mat-elevation-z6">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>
    <div *ngIf="!user">
      <a mat-button routerLink="/login">{{ 'LOGIN' | translate }}</a>
      <a mat-button routerLink="/register">{{ 'REGISTER' |translate}}</a>
      <app-theme-picker></app-theme-picker>
      <app-language-selector></app-language-selector>
    </div>
    <div *ngIf="user">
      <app-user-setting-menu></app-user-setting-menu>
    </div>

  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav
      class="sideNav mat-elevation-z6"
      #snav
      (openedChange)="toggleMenu()"
      [position]="'start'"
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="true" [fixedTopGap]="mobileQuery.matches?56:64">
      <div class="profile-info">
        <div class="profile-image"
             [style.backgroundImage]="'url('+ (user && user.profileImage ? user.profileImage : './assets/img/sl-logo.png') +')'">

        </div>
        <div *ngIf="user">
          <h3 mat-subheader><b>{{ user.lastName +' '+ user.firstName | uppercase }}</b></h3>
          <p><b>{{ user.about }}</b></p>
        </div>
      </div>
      <mat-nav-list [@listAnimation]="menuItems.length" dense>
        <mat-list-item *ngFor="let item of menuItems">
          <mat-icon color="primary" mat-list-icon>{{item.icon}}</mat-icon>
          <h3 mat-line><b>{{item.title | translate}}</b></h3>
          <p mat-line> {{item.description | translate}} </p>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="container" [style.marginTop.px]="mobileQuery.matches ? 56 : 64">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
