<div class="sl-index-container" cdkScrollable>
  <mat-toolbar *ngIf="user && !user.verified && showConfirmBar" class="sl-toolbar verify-account mat-elevation-z8">
    <p>{{ 'PLEASE_CONFIRM_EMAIL' | translate}}</p>
    <span class="spacer"></span>
    <button mat-button color="primary" (click)="confirm()">{{ 'CONFIRM' | translate}}</button>
    <button mat-button (click)="showConfirmBar=false">{{'DISMISS' | translate}}</button>
  </mat-toolbar>
  <mat-toolbar color="primary" class="sl-toolbar mat-elevation-z6">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <img class="logo" src="assets/img/sl-logo-bg.png" alt="logo">

    <h1>NTICBOOK</h1>

    <span class="spacer"></span>


    <div *ngIf="!user">
      <a mat-button routerLink="/login">{{ 'LOGIN' | translate }}</a>
      <a mat-button routerLink="/register">{{ 'REGISTER' |translate}}</a>
      <app-notification></app-notification>
      <app-theme-picker></app-theme-picker>
      <app-language-selector></app-language-selector>
    </div>
    <div *ngIf="user">
      <app-notification></app-notification>
      <app-user-setting-menu [user]="user"></app-user-setting-menu>
    </div>

  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav class="sideNav mat-elevation-z6" #snav [opened]="!mobileQuery.matches" (openedChange)="toggleMenu()" [position]="'start'"
      [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="true" [fixedTopGap]="mobileQuery.matches?56:64">
      <div class="profile-info">
        <div class="profile-image" [style.backgroundImage]="'url('+ (user && user.profileImage ? user.profileImage : './assets/img/sl-logo-bg.png') +')'">
        </div>
        <div *ngIf="user">
          <h3>
            {{ user.lastName +' '+ user.firstName | uppercase }}
          </h3>
        </div>
      </div>
      <mat-nav-list [@listAnimation]="menuItems.length" dense>
        <div *ngFor="let item of menuItems">
          <a *ngIf="(user && user.isAdmin && item.forAdmin) || !item.forAdmin" mat-list-item [routerLink]="item.router">
            <mat-icon mat-list-icon>{{item.icon}}</mat-icon>
            <h3 mat-line>
              <b>{{item.title | translate}}</b>
            </h3>
            <p mat-line> {{item.description | translate}} </p>
            <mat-divider></mat-divider>
          </a>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="container" [style.marginTop.px]="mobileQuery.matches ? 56 : 64">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>