.sl-index-container .verify-account {
  bottom: 0;
  text-align: center;
  max-height: 42px;
  p {
    font-weight: normal !important;
    font-size: 70%;
    line-height: 42px;
    margin: 0 !important;
  }
}

.sl-index-container .sl-toolbar {
  position: fixed;
  z-index: 5;
}

.sl-index-container .sideNav {
  width: 320px;
}

.sl-index-container .spacer {
  flex: 1 1 auto;
}

.sl-index-container .profile-info {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 5px 5px 5px;
  background: url("../../../assets/img/profile-bg.jpg") no-repeat center;
  background-size: cover;
  font-weight: bold;
}

.sl-index-container .profile-info h3 {
  margin: 0 !important;
  padding-bottom: 0 !important;
}

.sl-index-container .profile-info p {
  margin-left: 16px !important;
  &:first-letter {
    text-transform: uppercase;
  }
}

.sl-index-container .profile-info .profile-image {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  display: block;
  margin: 0 auto;
}

.sl-index-container .container{
  height: 100%;
  display: block;
}
