
.sl-index-container .verify-account {
  bottom: 0;
  text-align: center;
  max-height: 42px;
  p {
    font-weight: normal !important;
    font-size: 70%;
    line-height: 42px;
    margin: 0 !important;
  }
}
.sl-index-container .logo{
  height: 36px;
  margin-right: 10px;
  width: auto;
  cursor: pointer;
}
.sl-index-container .sl-toolbar {
  position: fixed;
  z-index: 5;
}

.sl-index-container .sideNav {
  width: 320px;
}

.sl-index-container .spacer {
  flex: 1 1 auto;
}

.sl-index-container .profile-info {
  position: relative;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 5px 5px 5px;
  background: url("../../../assets/img/profile-bg.jpg") no-repeat center;
  background-size: cover;
  font-weight: bold;

}


.sl-index-container .profile-info h3 {
  color: #E5E5E5;
  font-weight: 300;
  margin: 20px auto !important;
  font-size: 24px;
}


.sl-index-container .profile-info .profile-image {
  height: 100px;
  width: 100px;
  margin: 20px auto !important;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  display: block;
  margin: 0 auto;
}

.sl-index-container .container {
  display: block;
  height: 100%;
  box-sizing: border-box;
}

.sl-index-container mat-nav-list{
  min-height: 276px;
}

.sl-index-container .small-side-nav{
  position: fixed;
  height: 100%;
  padding: 100px 5px 5px 5px !important;
  width: 36px;
  overflow: auto;
  z-index: 20;
}

.sl-index-container mat-sidenav-content{
  height: 100vh;
}
