@import '../node_modules/@angular/material/theming';
@import 'app/core/auth/login/login.component.theme';
@import 'app/core/account/account.component-theme';

// Styles for the docs app that are based on the current theme.
@mixin social-learning-app-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .sl-app-background {
    background: mat-color($background, background);
  }

  .sl-primary-background {
    color: mat-color($primary, default-contrast) !important;
    background-color: mat-color($primary);
  }

  .sl-accent-background {
    color: mat-color($accent, default-contrast);
    background-color: mat-color($accent);
  }

  a{
    color: mat-color($accent);
  }

  @include social-learning-login-theme($theme);
  @include social-learning-accounts-theme($theme);
}
