@import '../node_modules/@angular/material/theming';
@import 'app/core/auth/login/login.component.theme';
@import 'app/core/account/account.component-theme';
@import 'app/core/publication/publication-form-theme.component';

// Styles for the docs app that are based on the current theme.
@mixin social-learning-app-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);


  .sl-app-background {
    background: mat-color($background, background);
  }

 .sl-primary-font {
    color: mat-color($primary) !important;
  }

  .sl-primary-background {
    color: mat-color($primary, default-contrast) !important;
    background-color: mat-color($primary);
  }


  .sl-accent-background {
    color: mat-color($accent, default-contrast);
    background-color: mat-color($accent);
  }

  a {
    color: mat-color($accent);
  }

  re-captcha{
    display: block;
    width: 304px;
    height: 78px;
    &.ng-captcha-invalid{
    border: 1px solid mat-color($warn);
    }
  }

  @include social-learning-login-theme($theme);
  @include social-learning-accounts-theme($theme);
  @include social-learning-publication-form-theme($theme);
}
