@import '../node_modules/@angular/material/theming';

// Styles for the docs app that are based on the current theme.
@mixin social-learning-app-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .sl-app-background {
    background: mat-color($background, background);
  }

  .sl-primary-background {
    background-color: mat-color($primary);
  }

}
