@import '~@angular/material/theming';
@import './app-theme';
@import './styles/general';


// Include material core styles.
@include mat-core();


// Define the light theme.
$primary: mat-palette($mat-cyan);
$accent:  mat-palette($mat-teal);

$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);
@include social-learning-app-theme($theme);
